[canvas=container],

[class*=js-] {
    cursor: pointer;
}

.inner-container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    background-color: whitesmoke;
}

.newscontainer {
    display:none;
}

.icon {
    filter: brightness(0) invert(1);
    width: 20px;
    vertical-align:bottom;
}

body {
    font-size: 100%;
}
