/* Style the tab */
.tab {
    overflow: hidden;
    background-color: rgba(115, 115, 115, 0.22);
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    text-align: left;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: whitesmoke;
    width: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #727272;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #727272;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.subtab {
    list-style-type: none;
}