#miniTabs {

  margin: 0 ;

  padding: 0 0 10px 10px;

  border-bottom: 1px solid rgba(125,125,255,1.0);

}

#miniTabs li{

  margin: 0px;

  padding: 20px;

  display:inline;

  list-Style: none;

}

#miniTabs a {

    float:left;

    line-height: 12px;

    font-weight: bold;

    margin: 0 10px 4px 10px;

    text-decoration:none;

    color: rgba(125,125,255,1.0);

}

#miniTabs a.active, #miniTabs a:hover {

    border-bottom: 4px solid rgba(255,125,125,1.0);

    padding-bottom: 6px;

    font-size: 32px;

    color: rgba(255,125,255,1.0);

}

#miniTabs a:hover{

   color: rgba(255,125,125,1.0);

}

h1 {

  font-family: Courier New, sans-serif;

  font-size: 32px;

  color: rgba(125,125,255,1.0);  

  padding: 0px 0px 20px 12px;

  background: url(border.gif) repeat-x bottom;;

}

h2 {

  font-family: Courier New;

  font-size: 20px; 

  color: rgba(125,200,100,.90);

}

table {

  border-top: 1px solid rgba(125,125,255,1.0);

  border-bottom: 1px solid rgba(125,125,255,1.0);

}

th, td {

  border-right: 1px solid rgba(125,125,255,1.0);

  border-bottom: 1px solid rgba(125,125,255,1.0);

}

dd {

    margin: 0;

}

form dt {

    font-family: Courier New;

    font-size: 12px; 

    color: rgba(125,200,100,.90);

    float:left;

    padding-right: 10px

}

#email, #name{

    width: 400px;

}

#name{

    margin-left: 7px;

}

#thisform legend{

    font-family: Courier New, sans-serif;

    font-size: 32px;

    color: rgba(125,125,255,1.0);  

    padding: 0px 10px 30px 10px;

}

#thisform fieldset{

    border: 1px solid rgba(125,125,255,1.0);

    padding: 0 20px;

    background: url(border.gif) repeat-x top;
}

#cart, #products {
    list-style-type: none;
}
#cart > li, #products > li {
    margin-bottom: 150px;
    border: 1px solid rgba(125,125,255,1.0); 
}
.productImg {
    float: left;
    width: 150px;
    height: 150px;
}
